name: Newman Run

on:
  workflow_dispatch: null

jobs:
  newman:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: matt-ball/newman-action@master
        with:
          collection: MycarPrise.postman_collection.json
          iterationData: Price.json
